/* */
.underLined{
    border-bottom: 2px solid black;
    color: blue;
}
.small{
   font-style: italic;
   font-weight: bolder;
}
.boton{
   border:1px ;
   height: 50px;
   width: 200px;
   border-radius: 5px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 25px;
   margin: 0 1px 0 1px;
   padding: 0;
   text-decoration:solid;
   background-color:#1976d2;

   color: white;
   cursor: pointer;
    
}

.center{
    text-align: center;
    align-items: center;
    display: flex;
    margin: 2px auto 2px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }