.tabla{
    border: 1px;
    background: #0000002a;
    margin: 12px;
    padding-left: 2px;
    color: black;
    justify-content: center;
    border-radius: 5px;
}
.tabla td{
width: 5%;
height: 40px;
text-align: center;
border: 0 solid #000;


}
