<div id="contenido">
    <h1>¿Conoces mis proyectos en la web? </h1> <br><br>
<div>

    <div ngClass="containerText">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque laboriosam illum ratione asperiores nisi possimus, quam perferendis cum autem ea repellendus esse quidem facilis, magni explicabo nesciunt. Perferendis, ratione eligendi.
            Nobis voluptatum quis repudiandae suscipit commodi voluptas soluta animi at! Expedita porro ea consequatur harum voluptates fugit fugiat esse consequuntur ut. Perferendis a id minus, nemo ipsam illum cupiditate eius.
            Vero, ipsum, impedit <a href="#" >fugit</a>  esse quas eveniet inventore dolorum tempore odit commodi magni sit nam quisquam illum ipsa omnis. Eos tempora amet odit aperiam quasi asperiores quibusdam dolore doloremque <em>nobis</em>?</p>
    </div> 
    <button ngClass="boton" (click)="alerteSaludo()">Mesaje</button>

<div>
    <br><br>
<h1 [innerText]="mens" ></h1> <br>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, dignissimos! Nam a magni quos possimus, numquam consequuntur minima sit itaque. Consequuntur laboriosam vel autem assumenda voluptatem pariatur, error ab ullam.
Eum alias quasi velit consectetur perferendis, obcaecati commodi quibusdam culpa error reprehenderit ad nostrum aperiam laudantium vel nemo repellendus, odio iure mollitia quas molestias debitis exercitationem soluta. Error, libero recusandae.
Labore facilis ea asperiores dolore possimus necessitatibus a, illo blanditiis incidunt omnis aliquid, beatae impedit et excepturi nemo? Corrupti dolorem accusantium libero architecto accusamus voluptas sunt iusto tenetur id? Itaque!
<br><br>
<button ngClass="boton" (click)="enviarMensajeAlPadre()">Mesaje</button>
</p>
</div>
